body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 219, 219);
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 3rem;
    margin-bottom: 60px;
    color: rgb(69, 68, 68);
    text-align: center;
}

canvas
{
    border: 2px solid black;
    margin-top: 20px;
}

button
{
    background-color: black;
    color: orange;
    font-weight: bolder;
    padding: 12px;
    margin: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

button:hover
{
    background-color: orange;
    color: black;
}

@media (max-width: 768px)
{
    h1
    {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    button
    {
        padding: 10px;
        margin: 5px;
        font-size: 18px;
    }

    canvas
    {
        width: 90%;
        height: auto;
    }
}